/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define default_layer 0
#define left 1
#define right 2
#define tri 3

&mt {
        tapping-term-ms=<300>;
};

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <left right>;
                        then-layer = <tri>;
                };
        };

        keymap {
                compatible = "zmk,keymap";
                default_layer {
// -----------------------------------------------------------------------------------------
// ||  Q  |  W  |  E  |  R  | T   |---|  Y  |  U   |  I[  |  O] |  P\|    ||
// ||  A  |  S  |  D  |  F  | G   |---| " H |  J'  |  K{  |  L} | RCTRL;: ||
// ||CTRLZ|  X  |  C  |  V  | B   |---| N   |  M   |  ,<  |  .> | (/?)RALT||
//              | GUI | LWR | SPC |---| BKSP|RSHFT | RSE  |
                        bindings = <
   &none &kp Q       &kp W    &kp E    &kp R     &kp T       &kp Y                 &kp  U     &kp I      &kp O     &mt BSLH P          &none
   &none &kp A       &kp S    &kp D    &kp F     &kp G       &mt DOUBLE_QUOTES H   &mt APOS J &kp K      &kp L     &mt RCTRL SEMICOLON &none
   &none &mt LCTL Z  &kp X    &kp C    &kp V     &kp B       &kp N                 &kp  M     &kp COMMA  &kp DOT   &mt RALT FSLH       &none
                     &kp LGUI &mo left &kp SPACE             &kp BKSP              &kp RSHFT  &mo right
                        >;
                };
                left {
// -----------------------------------------------------------------------------------------
// ||PGUP  | HOME|  UP | END | DEL |---|  /?  | 7&  | 8* | 9(  | LBRC ||
// ||PGDOWN| LFT | DWN | RGT | ESC |---|  -_  | 4$  | 5% | 6^  | LBKT ||
// ||LSHFT | F5  |Grave| TAB |LSHFT|---|  =+  | 1!  | 2@ | 3#  |RSHIFT||
//               |trans|trans|trans|---| RET  | 0)  |  . |
                        bindings = <
   &none &kp PAGE_UP   &kp HOME   &kp UP    &kp END    &kp DEL     &kp FSLH   &kp N7 &kp N8 &kp N9  &kp LBRC   &none
   &none &kp PAGE_DOWN &kp LEFT   &kp DOWN  &kp RIGHT  &kp ESC     &kp MINUS  &kp N4 &kp N5 &kp N6  &kp LBKT   &none
   &none &kp LSHFT     &kp F5     &kp GRAVE &kp TAB    &kp BKSP    &kp EQUAL  &kp N1 &kp N2 &kp N3  &kp RSHFT  &none
                                  &trans    &trans     &trans      &kp RET    &kp N0 &kp DOT
                        >;
                };
                right {
// -----------------------------------------------------------------------------------------
// ||     |     |S    |LSHFT|LGUI |---|  ^  |  &  |  (  |  )  |     ||
// ||     |     |GRAVE|LSHFT|LCTRL|---|  -  |  =  |  [  |  ]  |  \  ||
// ||     |     |     | TAB |LALT |---|  _  |  +  |  {  |  }  | "|" ||
//              |trans|trans|trans|---|trans|trans|trans|
                        bindings = <
   &none &none  &none &kp S     &kp LSHFT &kp LGUI    &kp CARET      &kp AMPS  &kp LPAR        &kp RPAR        &none    &none
   &none &none  &none &kp GRAVE &kp LSHFT &kp LCTRL   &kp MINUS      &kp EQUAL &kp LBKT        &kp RBKT        &kp BSLH &none
   &none &none  &none &none     &kp TAB   &kp LALT    &kp UNDERSCORE &kp PLUS  &kp LEFT_BRACE  &kp RIGHT_BRACE &kp PIPE &none
                      &trans    &trans    &trans      &trans         &trans    &trans
                        >;
                };
                tri {
// -----------------------------------------------------------------------------------------
// ||BT_CLR|BT1   |BRIUP |BRIDN |none  |---|  f1 | f2  |  f3 |  f4 |     ||
// ||BT2   |BT3   |NEXT  |Prev  |none  |---|  f5 | f6  |  f7 |  f8 |     ||
// ||BT4   |BT5   |VOLUP | MUTE |VOLDWN|---|  f9 | f10 | f11 | f12 |     ||
//                |trans |trans |none  |---|trans|trans|trans|
                        bindings = <
   &none &bt BT_CLR   &bt BT_SEL 0 &kp C_BRI_UP    &kp C_BRI_DN  &none              &kp F1   &kp F2  &kp F3  &kp F4  &none &none
   &none &bt BT_SEL 1 &bt BT_SEL 2 &kp C_NEXT      &kp C_PREV    &none              &kp F5   &kp F6  &kp F7  &kp F8  &none &none
   &none &bt BT_SEL 3 &bt BT_SEL 4 &kp C_VOLUME_UP &kp C_MUTE    &kp C_VOLUME_DOWN  &kp F9   &kp F10 &kp F11 &kp F12 &none &none
                                   &trans          &trans        &trans             &trans   &trans  &trans
                        >;
                };
        };
};